name: Android Appium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ نسحب الكود من GitHub
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ نثبت JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      # 3️⃣ نبني ونشغل اختبارات Appium
      - name: Run Appium Tests
        run: mvn clean test

      # 4️⃣ رفع تقارير الاختبارات
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: target/surefire-reports/
